<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="margin-20">

      </div>
      <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)">

        <!--addresses-->
        <!-- <div formArrayName="addresses">
          <div *ngFor="let address of myForm.controls.addresses.controls; let i=index" class="panel panel-default">

              <span class="glyphicon glyphicon-remove pull-right" *ngIf="myForm.controls.addresses.controls.length > 1" (click)="removeAddress(i)"></span>
            </div>
            <div class="panel-body" [formGroupName]="i">
              <address [group]="myForm.controls.addresses.controls[i]"></address>
            </div>
          </div>


        <div class="margin-20">
          <a (click)="addAddress()" style="cursor: default">
            Add another address +
          </a>
        </div>

      </form>
    </div>
  </div> -->
</div> -->
