<div class="body">
  <form class="example-form" [formGroup]="myForm">
    <div class="panel-body" [formGroupName]="i">
      <div *ngFor="let addresses of myForm.controls.addresses.controls; let i=index" class="panel panel-default">
        <div layout="row" id="content">
          <mat-form-field class="example-full-width" fxLayoutGap="2rem">
            <input type="email" matInput placeholder="Email Adress" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
          </mat-form-field>
          <!-- <li  class="img" fxLayout="row"  fxLayoutGap="2rem" >   -->
          <img [src]="contributor" hspace="10" onclick="chBackcolor('red')">
          <img [src]="approval" hspace="10">
          <img [src]="viewer" hspace="10">
          <!-- </li> -->
          <br>
        </div>
      </div>
    </div>
    <img src="/assets/img/plus.png" (click)="addAddress()" style="cursor: default;margin-left:940px;">

  </form>
</div>

<div class="btn">
  <button mat-raised-button color="primary">INVITE</button>
  <button mat-raised-button color="warn">CANCEL</button>

</div>
<div>
