
.image {
  margin: 0 auto;
  margin-left: 25%;
  margin-top: 25%;
}
.example-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  height:120%;
  border-left: 1px solid #00000021;
  margin-top: -10%;
}
.mat-form-field
{
  margin:0 auto;
}
.example-container>* {
  width: 50%;
}
.btn {
  background-color: #00BFA5;
  margin: 0 auto;
  margin-top: 6%;
  font-size: 18px;
  color: white;
}
.body
{
  margin-top: 2%;
}
.btn1{
  margin: 0 auto;
}
