.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
.cuplogo {
  max-width: 85px;
  max-height: 50px;
  padding-left: 83px;
}

.topnavbar {
  background-color: rgba(0, 0, 0, .06);
  height: 65px;
}
.logout
{
  height: 35px;
  width:35px;
}
