

 <router-outlet></router-outlet>
<!-- <app-topnavbar></app-topnavbar>
<div class="container">
  <div class="row">
    <div class="col-xs-12"> -->

      <!-- <form [formGroup]="myForm" >

        <div formArrayName="addresses">
          <div *ngFor="let app-dialogbox of myForm.controls.addresses.controls; let i=index" class="panel panel-default">

            <div class="panel-body" [formGroupName]="i">
              <app-dialogbox [group]="myForm.controls.addresses.controls[i]"></app-dialogbox>
            </div>
          </div>
        </div>

        <div class="margin-20">
          <a (click)="addAddress()" style="cursor: default">
            Add another address +
          </a>
        </div>
      </form> -->
    <!-- </div>
  </div>
</div> -->
