
<!-- <mat-toolbar class="topnavbar" >
  <mat-toolbar-row>
  <button mat-raised-button color="warn"></button>
    <img  [src]="userImg" (click)="openDialog()">
    <span class="example-spacer"></span>
    <mat-icon class="example-icon exitIcon">exit_to_app</mat-icon>
  </mat-toolbar-row>
</mat-toolbar> -->
<!-- <mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="hometext" (click)="homeNavigate()">Home</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon exitIcon"  (click)="logout()">exit_to_app</mat-icon>
  </mat-toolbar-row>
</mat-toolbar> -->

<mat-toolbar class="topnavbar">
  <button mat-mini-fab color="warn"></button>
  <div style="margin:25px">Admin</div>
      <mat-icon  class="example-spacer"  (click)="openDialog()">person_add</mat-icon>
    <mat-icon  (click)="logout()">exit_to_app</mat-icon>
</mat-toolbar>
