<div class="example-container">
  <div fxLayout="row" fxLayoutGap="10px" fxLayoutGap.xs="0">
    <mat-toolbar style="background-color:#ffffff">
      <div fxFlex="91%"> <img src="/assets/img/cup.png" class="cuplogo" style="cursor:pointer"></div>
      <img src="../assets/img/logout.png" class ="logout" style="cursor:pointer">
    </mat-toolbar>
  </div>
  <div fxLayout="row" fxLayoutGap="10px" fxLayoutGap.xs="0">
    <mat-toolbar class="topnavbar">
      <div fxFlex="81%"></div>
      <img src="../assets/img/user .png" (click)="openDialog()" style="cursor:pointer" class="add_user" width="50px" height="50px">
      <div style="margin-left:60px" >
      <img src="/assets/img/analytics.png" alt="analytics" width="50px" height="50px">
    </div>

    </mat-toolbar>
  </div>

  <div class="container" style="margin-top:30px" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="30px" fxLayoutGap.xs="0">

    <div fxLayout="column" fxFlex="260px" fxFlexOffset.xs="0">
      <mat-card [style.height]="'120px'">
        <mat-card-title>Live Deck</mat-card-title>
      </mat-card>
    </div>
    <div fxLayout="column" fxFlex="840px">
      <mat-card [style.height]="'120px'"></mat-card>
    </div>
  </div>

  <div class="container" fxLayout="row" style="margin-top:30px" fxLayoutAlign="center" fxLayoutGap="30px" fxLayoutGap.xs="0">
    <div fxLayout="column" fxFlex="260px" fxFlexOffset.xs="0">
      <mat-card [style.height]="'120px'">
        <div fxFlex="70px" style="margin-top: 15px;">
          <img src="/assets/img/ngClickContributor.png" />
        </div>
        <mat-card-title style="font-size:20px;margin-left:20px">Contributor</mat-card-title>
        <div class="count">
          {{contributorCount}}
        </div>
      </mat-card>
    </div>
    <div fxLayout="column" fxFlex="260px" fxFlexOffset.xs="0">
      <div fxLayout="column" fxFlex="280px" fxFlexOffset.xs="0">
        <mat-card [style.height]="'120px'">
          <div fxFlex="70px" style="margin-top: 15px;">
            <img src="/assets/img/ngClickApprover.png" />
          </div>
          <mat-card-title style="font-size:20px;margin-left:20px">Approver</mat-card-title>
          <div class="countapprover">
            {{approverCount}}
          </div>
        </mat-card>
      </div>
    </div>
    <div fxLayout="column" fxFlex="260px" fxFlexOffset.xs="0">
      <mat-card [style.height]="'120px'">
        <div fxFlex="70px" style="margin-top: 15px;">
          <img src="/assets/img/ngClickViewer.png" />
        </div>
        <mat-card-title style="font-size:20px;margin-left:20px">Viewer</mat-card-title>
        <div class="countviwer">
          {{viewerCount}}
        </div>

      </mat-card>
    </div>
    <div fxLayout="column" fxFlex="260px" fxFlexOffset.xs="0">
      <mat-card [style.height]="'120px'">
        <div fxFlex="70px" style="margin-top: 15px;">
          <img src="/assets/img/users.png" />
        </div>
        <mat-card-title style="font-size:20px;margin-left:20px;">User</mat-card-title>
        <div class="countUser">
        {{contributorCount + approverCount +  viewerCount}}
        </div>
      </mat-card>
    </div>
  </div>
    </div>
  <div class="container1" fxLayout="row"  fxLayoutAlign="center" fxLayoutGap="30px" fxLayoutGap.xs="0">
    <div fxLayout="column" fxFlex="355px" fxFlexOffset.xs="0">
      <mat-card [style.height]="'80px'">

      </mat-card>
    </div>
      <div fxLayout="column" fxFlex="355px" fxFlexOffset.xs="0">
        <mat-card [style.height]="'80px'">

        </mat-card>
      </div>
    <div fxLayout="column" fxFlex="355px" fxFlexOffset.xs="0">
      <mat-card [style.height]="'80px'">


      </mat-card>
    </div>

</div>
