/* .topnavbar{
 background-color: rgba(0,0,0,.06);
 width: auto;
 height: 55px;
}
.cuplogo
{
 max-width: 85px;
 max-height: 50px;
 padding-left: 83px;
}
.logout
{
   margin-left:80%;
}
.add_user
{
 margin-left: 85%;
}
.mat-toolbar-row
{
background-color:#ffffff;
position: fixed;

margin-right: 100px;
}
.searchbar
{
  border-radius: 0px;
}
.containerClass
{
 width: 280px;
 height: 190px;
} */
.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height:100%;
  width: 100%;
}
.cuplogo
{
 max-width: 85px;
 max-height: 50px;
 padding-left: 83px;
}
.topnavbar{
 background-color: rgba(0,0,0,.06);
 height: 65px;
}
.count
{
  margin-top: 35px;
  margin-left: -62;
  font-size: 35px;
}
.countviwer
{
  margin-top: 35px;
  margin-left: -32px;
  font-size: 35px;
}
.countapprover
{
  margin-top: 35px;
  margin-left: -52px;
  font-size: 35px;
}
.countUser
{
  margin-top: 35px;
  margin-left: -28px;
  font-size: 35px;
}
.container1
{
  margin-top: 40%;
}
